# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo


# Ignore version control files
.git
.gitignore

# Ignore log files
*.log



# Ignore temporary and lock files
*.swp
*.lock
*.tmp

# Ignore test directories
test/


# Include everything else explicitly required
!Dockerfile
!requirements.txt
!supervisord.conf
!docker-compose.yaml
!entrypoint.sh
!pyproject.toml
