# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo

# Ignore version control files
.git
.gitignore

# Ignore log files
*.log

# Ignore temporary and lock files
*.swp
*.lock
*.tmp

# Ignore test directories
test/

*.egg-info

Dockerfile
docker-compose.yaml
docker-stack.yaml

node_modules/
build/
.flake8
mypy.ini
.isort
.pylintrc
test/

# Include everything else explicitly required

!requirements.txt
!supervisord.conf
!entrypoint.sh



