<script>
    <!-- Polling script to check if the server is ready -->
    (function poll() {
        const url = `{{ url_for('main.is_ready') }}`;

        function pollServer() {
            pollOnce(function(isReady) {
                if (isReady) {
                    window.location.href = `{{return_url}}`;
                } else {
                    setTimeout(pollServer, 2000);
                }
            });
        }

        if (`{{host.app_state}}` && `{{host.app_state}}` != 'ready') {
            pollServer();
        }
    })();

    function pollOnce(callback) {
        const url = `{{ url_for('main.is_ready') }}`;
        fetch(url)
            .then(response => response.json())
            .then(data => {
                console.log(" Code host status " + data.status);
                callback(data.status === 'ready');
            })
            .catch(error => {
                console.log(" Polling Error: " + error);
                callback(false);
            });
    }

    function openHost(host_id) {
        fetch(`/host/${host_id}/open`)
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.open(data.public_url, '_blank');
                } else {
                    location.reload();
                }
            })
            .catch(error => {
                console.error('Error:', error);
                location.reload();
            });
    }

    // Polling script to check if the class buttons need to be updated. We will poll more frequently if there are 
    // classes in the waiting state. 
    function pollClassButtonStates() {
        const url = `{{ url_for('main.classes_button_states') }}`;
        fetch(url)
            .then(response => response.json())
            .then(data => {
                let reload = false;
                let waitingCount = 0;
                for (const [classId, classData] of Object.entries(data)) {
                    const card = document.getElementById(`class-card-${classId}`);
                    if (card) {
                        if (card.getAttribute('data-button-state') !== classData.state) {
                            reload = true;
                            break;
                        }
                        if (classData.state === 'waiting') {
                            waitingCount++;
                        }
                    }
                }
                if (reload) {
                    location.reload();
                } else {
                    const timeout = waitingCount > 0 ? 10000 : 30000;
                    setTimeout(pollClassButtonStates, timeout);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                setTimeout(pollClassButtonStates, 10000);
            });
    }

    pollClassButtonStates();

</script>