{% extends "page.html" %}

{% block content %}
<div class="container mt-4 mb-4">
    <h2>Classes Teaching</h2>

    {% if current_user.is_instructor %}
    <div class="mb-3">
        <a href="{{ url_for('main.edit_class', class_id = 'new') }}" class="btn btn-success">New Class</a>
    </div>
    {% if instructing %}
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Class Code</th>
                <th>Description</th>
                <th>Image</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for class in instructing %}
            <tr>
                <td><a href="{{ url_for('main.view_class', class_id=class.id) }}">{{ class.name }}</a></td>
                <td>{{ class.class_code }}</td>
                <td>{{ class.description }}</td>
                <td>{% if class.image %}{{ class.image.name }}{% else %}No Image{% endif %}</td>
                <td>{{ class.start_date }}</td>
                <td>{{ class.end_date }}</td>
                <td>
                    <a href="{{ url_for('main.edit_class', class_id=class.id) }}"
                        class="btn btn-primary btn-sm">Edit</a>

                    {% if class.students | length == 0 %}
                    <a href="{{ url_for('main.delete_class', class_id=class.id) }}"
                        class="btn btn-danger btn-sm">Delete</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No classes found.</p>
    {% endif %}
    {% endif %}
</div>

<div class="container mt-4">
    {% if current_user.is_student %}
    <h2>Classes Taking</h2>
    {% if taking %}
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Start Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for class in taking %}
            <tr>
                <td title="{{ class.description }}">{{class.name }}</td>
                <td>{{ class.start_date }}</td>
                <td>
                    <a href="#" class="btn btn-primary btn-sm">Start</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No classes found.</p>
    {% endif %}
    <div class="mt-4">
        <h3>Add Class</h3>
        <form action="{{ url_for('main.add_class') }}" method="POST">
            <div class="form-group">
                <label for="class_code">Class Code</label>
                <input type="text" class="form-control" id="class_code" name="class_code" required>
            </div>
            <button type="submit" class="btn btn-primary">Add Class</button>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}