{% extends "admin/base.html" %}

{% block title %}Classes{% endblock %}


{% block header %}
<div class="text-center">
    <h1 class="mb-4">Classes</h1>
</div>
{% endblock %}

{% block content %}
<div class="container mt-4">

    <ul class="nav nav-pills mb-3">
        <li class="nav-item">
            <a class="nav-link active" href="#">Create</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin.export_classes') }}">Export</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Import</a>
        </li>
    </ul>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>Class Code</th>
                <th>Prototype</th>
                <th>Instructors</th>
                <th>Active</th>
                <th>Public</th>
                <th>Hidden</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for class in classes %}
            <tr>
                <td>{{ class.name }}</td>
                <td>{{ class.description }}</td>
                <td>{{ class.start_date.strftime('%Y-%m-%d') }}</td>
                <td>{{ class.class_code }}</td>
                <td>
                    {{ class.proto.name }}
                </td>
                <td>
                    {% for instructor in class.instructors %}
                    {{ instructor.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% if class.active %}
                    ✓
                    {% endif %}
                </td>
                <td>
                    {% if class.public %}
                    ✓
                    {% endif %}
                </td>
                <td>
                    {% if class.hidden %}
                    ✓
                    {% endif %}
                </td>
                <td>
                    <a href="{{url_for('admin.edit_class', class_id=class.id)}}" class="btn btn-sm btn-primary">Edit</a>
                    <a href="{{url_for('admin.delete_class', class_id=class.id)}}"
                        class="btn btn-sm btn-danger">Delete</a>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}