{% extends "admin/base.html" %}

{% block title %}Code Hosts{% endblock %}

{% block content %}

<div class="container mt-4">
    <h1>Code Hosts</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Service ID</th>
                <th>Service Name</th>
                <th>State</th>
                <th>Host Image</th>
                <th>Url</th>
                <th>User Activity Rate</th>
                <th>Last Heartbeat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for code_host in code_hosts %}
            <tr>
                <td>{{ code_host.id }}</td>
                <td>{{ code_host.user.username }}</td>
                <td>{{ code_host.service_id[:16] }}</td>
                <td>{{ code_host.service_name }}</td>
                <td>{{ code_host.state }}</td>
                <td>{{ code_host.host_image.name }}</td>
                <td><a href="{{ code_host.public_url }}" target="_blank">{{ code_host.public_url }}</a></td>
                <td>{{ code_host.user_activity_rate }}</td>
                <td>{{ code_host.heart_beat_ago}} s</td>
                <td>
                    <a href="{{ url_for('admin.view_host', host_id=code_host.id) }}"
                        class="btn btn-sm btn-primary">View</a>
                    {% if code_host.state == 'running' %}
                    <form action="{{ url_for('admin.stop_host', host_id=code_host.id)  }}" method="post"
                        style="display:inline;">
                        <button type="submit" class="btn btn-sm btn-danger">Stop</button>
                    </form>
                    {% else %}
                    <form action="{{ url_for('admin.delete_host', host_id=code_host.id) }}" method="post"
                        style="display:inline;">
                        <button type="submit" class="btn btn-sm btn-warning">Delete</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}