{% extends "admin/base.html" %}

{% block title %}Code Hosts{% endblock %}

{% block content %}

<div class="container mt-4">
    <h1>Code Hosts</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User</th>
                <th>Service ID</th>
                <th>Service Name</th>
                <th>State</th>
                <th>Host Image</th>
                <th>Url</th>
                <th>User Activity Rate</th>
                <th>Last Heartbeat</th>
            </tr>
        </thead>
        <tbody>
            {% for code_host in code_hosts %}
            <tr>
                <td>{{ code_host.user.username }}</td>
                <td>{{ code_host.service_id[:16] }}</td>
                <td>{{ code_host.service_name }}</td>
                <td>{{ code_host.state }}</td>
                <td>{{ code_host.host_image.name }}</td>
                <td><a href="https://{{ code_host.public_url }}" target="_blank">{{ code_host.public_url }}</a></td>
                <td>{{ code_host.user_activity_rate }}</td>
                <td>{{ code_host.last_heartbeat_ago.strftime('%Y-%m-%d %H:%M:%S') if code_host.last_heartbeat_ago else 'N/A' }}</td>
                <td>
                    <form action="{{ url_for('admin.delete_host') }}" method="post" style="display:inline;">
                        <input type="hidden" name="host_id" value="{{ code_host.id }}">
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}