{% extends "admin/base.html" %}


{% block header %}
<div class="text-center">
    <h1 class="mb-4">Host Images</h1>
</div>
{% endblock %}

{% block content %}

<div class="container mt-4">
    <ul class="nav nav-pills mb-3">
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('admin.new_image') }}">Create</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin.export_images') }}">Export</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin.import_images') }}">Import</a>
        </li>
    </ul>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Select</th>
                <th>Name</th>
                <th>Image URI</th>
                <th>Repo URI</th>
                <th>Is Public</th>
                <th>Creator</th>
                <th>Code Hosts</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for data in image_data %}
            <tr>
                <td><input type="checkbox" name="select_image" value="{{ data.image.id }}"></td>
                <td>{{ data.image.name }}</td>
                <td>{{ data.image.image_uri }}</td>
                <td>{{ data.image.repo_uri }}</td>
                <td>
                    {% if data.image.is_public %}
                    <span class="text-success">&#10004;</span>
                    {% else %}
                    <span class="text-danger">&#10008;</span>
                    {% endif %}
                </td>
                <td>{{ data.image.creator.username if data.image.creator else 'N/A' }}</td>
                <td>{{ data.code_host_count }}</td>
                <td>
                    <a href="{{ url_for('admin.edit_image', image_id=data.image.id) }}"
                        class="btn btn-sm btn-warning">Edit</a>

                    {% if data.code_host_count == 0 %}
                    <form action="{{ url_for('admin.delete_image', image_id=data.image.id) }}" method="post"
                        style="display:inline;">
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>




{% endblock %}