
.inline {
    vertical-align: middle;
    height: 1em; /* Matches the line height */
    width: auto; /* Maintains aspect ratio */
}

footer {
    margin-top: auto;
}

footer .left {
    float: left;
}

footer .center {
    text-align: center;
    width: 100%;
}

footer .right {
    float: right;
}

center {
    text-align: center;
}
