{% extends "base/page.html" %}

{% block title %}League Code Server{% endblock %}

{% block header %}
<div class="text-center">
    <h1 class="mb-4">League Code Server</h1>
</div>
{% endblock %}

{% block styles %}
{% include "elements/spinner_styles.html" %}
<style>
    .btn.btn-table {
        transform: scale(0.7);
        /* Reduce size by 30% */
        font-size: smaller;
        margin: 3px;
        padding: 4px;
        display: inline;
        /* Add a small margin for spacing */
    }

    .actions-column {
        min-width: 200px;
        /* Reserve space for about three buttons */
    }

    .truncate {
        max-width: 30em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
{% endblock %}

{% macro table_header() %}
<thead class="thead-dark">
    <tr>
        <th >Name</th>
        <th>Class Code</th>
        <th class="truncate">Image</th>
        <th>Location</th>
        <th>Term</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Instructors</th>
        <th>Student Count</th>
    </tr>
</thead>
{% endmacro %}

{% macro class_row(class_) %}
<tr >
    <td style="width: 10em;"><a href="{{ url_for('main.detail_class', class_id=class_.id) }}">{{ class_.name }}</a></td>
    <td style="width: 10em;">{{ class_.class_code }}</td>
    <td style="width: 10em;">{% if class_.image %}{{ class_.image.name }}{% else %}No Image{% endif %}</td>
    <td style="width: 7em;">{{ class_.location }}</td>
    <td style="width: 7em;">{{ class_.term }}</td>
    <td>{{ class_.start_date.strftime('%Y-%m-%d %H:%M') }}</td>
    <td>{{ class_.end_date.strftime('%Y-%m-%d %H:%M') if class_.end_date else '' }}</td>
    <td>
        {% for instructor in class_.instructors %}
        {{ instructor.username }}<br>
        {% endfor %}
    </td>
    <td>{{ class_.students | length }}</td>
</tr>
{% endmacro %}



{% block content %}

<div class="container mt-4 mb-4">
    <h2>Classes</h2>

    {% if current_user.is_instructor %}
    <div class="mb-3">
        <a href="{{ url_for('main.edit_class', class_id = 'new') }}" class="btn btn-success btn-smaller">New Class</a>
    </div>

    {% if current_user.classes_instructing %}
        {% for section, class_list in classes.items() %}
            {% if class_list %}
                <div class="class-section-{{ section.lower() }}">
                    <h4>{{ section }}</h4>
                    <table class="table table-striped">
                        {{ table_header() }}
                        <tbody>
                            {% for class_ in class_list|sort(attribute='start_date', reverse=True) %}
                                {{ class_row(class_) }}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% endif %}
</div>


{% endblock %}


{% block scripts %}
{% include "elements/polling_script.html" %}
{% endblock %}