{% extends "base/page.html" %}

{% block title %}League Code Server{% endblock %}

{% block header %}
<div class="text-center">
    <h1 class="mb-4">League Code Server</h1>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="accordion" id="classesAccordion">
        {% for class in classes %}
        <div class="card">
            <div class="card-header" id="heading{{ class.id }}">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse"
                        data-target="#collapse{{ class.id }}" aria-expanded="true"
                        aria-controls="collapse{{ class.id }}">
                        {{ class.name }} {{class.term}} ({{ class.students | length }} students)
                    </button>
                </h2>
            </div>

            <div id="collapse{{ class.id }}" class="collapse" aria-labelledby="heading{{ class.id }}"
                data-parent="#classesAccordion">
                <div class="card-body">
                    <ul class="list-group">
                        {% for student in class.students %}
                        <li class="list-group-item">
                            {{ student.username }} - {{ student.display_name }}
                            {% if student.code_host %}
                            <a href="{{ url_for('hosts.index', host_id=student.code_host.id) }}">View Code Host</a>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('.collapse').collapse('hide');
    });
</script>
{% endblock %}