{% extends "base/page.html" %}

{% block title %}League Code Server{% endblock %}

{% block header %}
<div class="text-center">
    <h1 class="mb-4">League Code Server</h1>
</div>
{% endblock %}
{% block styles %}
{% include "elements/spinner_styles.html" %}
<style>
    .card {
        height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-text {
        height: 70px;
        /* Set fixed height */
        overflow: hidden;
        /* Hide overflowing text */
        text-overflow: ellipsis;

    }

    .card-body {
        padding-bottom: 50px;
    }

    .card-body .btn {

        bottom: 10px;
        margin-right: 10px;

    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% for class_ in current_user.classes_taking %}
        {% include "elements/class_card.html" %}
        {% endfor %}
    </div>
    <hr>
    <div class="row mb-4">
        <div class="col-md-4">
            <form method="POST" action="{{ url_for('main.add_class') }}">
                <div class="form-group">
                    <label for="class_code">Enter a class code to enroll in a class:</label>
                    <input type="text" class="form-control" id="class_code" name="class_code" required>
                </div>
                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Add Class</button>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}


{% block scripts %}
{% include "elements/polling_script.html" %}
{% endblock %}