{% extends "base/page.html" %}

{% block title %}Profile - League Code Server{% endblock %}

{% block header %}
<div class="text-center">
    <h1 class="mb-4">User Profile</h1>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Profile Details</h2>
                    {% if user %}
                    <p><strong>Username:</strong> {{ user.username }}</p>
                    <p><strong>Display Name:</strong> {{ user.display_name }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <p><strong>Role:</strong>{{ user.role }} </p>
                    <p><strong>OAuth Provider:</strong> {{ user.oauth_provider }}</p>
                    <p><strong>OAuth ID:</strong> {{ user.oauth_id }}</p>
                    <p><strong>Avatar:</strong></p>
                    <img src="{{ user.avatar_url }}" alt="User Avatar" class="img-fluid rounded-circle">

                    {% else %}
                    <p>You are not logged in.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}