{% extends "page.html" %}


{% block title %}League Code Server{% endblock %}
{% block header %}<h1>League Code Server</h1>{% endblock %}

{% block content %}

<div class="content">
    <form action="{{ url_for('index') }}" method="POST">
        {% if not current_user.is_authenticated %}

        <div class="form-group">
            <button type="submit" name="action" value="login" class="small-left">Login</button>
            <button type="submit" name="action" value="create" class="small-right">Create Account</button>
        </div>

        {% else %}

            <div class="form-group">
                <button type="submit" name="action" value="logout" class="small-left">Logout</button>
                <button type="submit" name="action" value="start" class="small-right">Start Server</button>
            </div>
        
        {% endif %}
    </form>
   
</div>

<div>

    {% if current_user.is_authenticated %}
        <p>Logged in as: {{ current_user.primary_email }}</p>

        {% if current_user.is_student %}
            <p>Role: Student</p>
        {% endif %}
        {% if current_user.is_league %}
            <p>Role: League User</p>
        {% endif %}
        {% if current_user.is_admin %}
            <p>Role: Admin</p>
        {% endif %}
        {% if current_user.is_staff %}
            <p>Role: Staff</p>
        {% endif %}

        <p>Server Name: {{server_name}}</p>
    {% endif %}
</div>


{% endblock %}


{% block footer %}{% endblock %}