{% extends "page.html" %}


{% block title %}League Code Server{% endblock %}
{% block header %}<h1>League Code Server</h1>{% endblock %}

{% block content %}

<div class="content">
    <form action="{{ url_for('index') }}" method="POST">
        {% if not current_user.is_authenticated %}

        <div class="form-group">
            <button type="submit" name="action" value="login" class="small-left">Login</button>
            <button type="submit" name="action" value="create" class="small-right">Create Account</button>
        </div>


        {% else %}

            <div class="form-group">
                <button type="submit" name="action" value="logout" class="small-left">Logout</button>
                <button type="submit" name="action" value="start" class="small-right">Start Server</button>
            </div>
        

            <p>Logged in as: {{ current_user.primary_email }} ({{current_user.role}})</p>
            <p>Server Name: {{server_hostname}} ({{server_status}})</p> 
    
            {% if current_user.is_authenticated and current_user.is_staff %}
            <h2>Containers</h2>
            <table>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Login</th>
                    </tr>
                </thead>
                <tbody>
                {% for container in containers %}
                    <tr>
                        <td><a href="https://{{ container.labels['caddy'] }}" target="_blank">{{ container.labels['jtl.codeserver.username'] }}</a></td>
                        <td>{{ container.labels['jt.codeserver.password'] }}</td>
                        
                    <td>
                        <form action="https://{{ container.labels['caddy'] }}/login" method="POST" target="_blank">
                            <input type="hidden" name="base" value=".">
                            <input type="hidden" name="href" value="https://jed.do.jointheleague.org/login">
                            <input type="hidden" name="password" value="{{ container.labels['jt.codeserver.password'] }}">
                            <button type="submit" class="login">Login</button>
                        </form>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}

        {% endif %}
    </form>
   
</div>


{% endblock %}


{% block footer %}{% endblock %}